/.venv/
/.idea/.gitignore
/build/main_windows/Analysis-00.toc
/build/main_windows/base_library.zip
/build/main_windows/EXE-00.toc
/.idea/Host-for-keyence-KLA-PA-.iml
/dist/main_windows.exe
/build/main_windows/main_windows.pkg
/main_windows.spec
/.idea/misc.xml
/.idea/modules.xml
/build/main_windows/PKG-00.toc
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/build/main_windows/PYZ-00.pyz
/build/main_windows/PYZ-00.toc
/build/main_windows/Tree-00.toc
/build/main_windows/Tree-01.toc
/build/main_windows/Tree-02.toc
/.idea/vcs.xml
/build/main_windows/warn-main_windows.txt
/build/main_windows/xref-main_windows.html
